@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

/* display: flex deixa a div uma do lado da outra,m indo pra esquerda da div.

justify-content: center centraliza, usado na div pai, centraliza os itens ou divs.

align_item centraliza os intems, mas so se tiver tamnanho definido.


heigth: 100%vh, altura, vh = viewhport

position posiciona os elementos especfiica, relative e relativo aos elementos, toma como base ela mesma
absoluteela se sobrepoem 

*/


/* resetando o css para os navegadores */

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(164, 174, 199, 0.363);
}

.content {
    background-color: hsla(0, 0%, 100%, 0.979);
    border-radius: 15px;
    width: 900px;
    height: 50%;
    display: flex;
    /* nao preciso usar esse atributo por usar o justify sapce-between e o align */
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: rgb(128, 89, 163);
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    ;
    ;
    ;
    left: 0%;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-transform: capitalize;
}

.title-welcome {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 300;
}

.title-second {
    color: rgb(106, 66, 179);
}

.description {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary {
    color: white
}

.description-second {
    color: rgb(126, 126, 126);
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding: 10px 50px;
    font-size: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin: 1rem 0;
}

.btn-primary {
    border: 1px solid #fff;
    background-color: transparent;
    transition: background-color 0.5s;
}

.btn-primary:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(128, 89, 163);
}

.btn-second {
    background-color: rgb(128, 89, 163);
    color: 1px solid rgb(128, 89, 163);
    transition: background-color 0.5s;
}

.btn-second:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(128, 89, 163);
    color: rgb(128, 89, 163);
}

.first-content {
    display: flex;
    /* display: none; */
}

.first-content .second-column {
    z-index: 12;
}

.first-column {
    text-align: center;
    flex: 1 0 auto;
    width: 40%;
    z-index: 10;
    height: max-content;
}

.social-midia {
    margin: 1rem 0;
}

.link-social-midia .item-social-midia {
    transition: background-color 0.5s;
}

.link-social-midia:hover .item-social-midia {
    background-color: rgb(128, 89, 163);
    color: #fff;
    border-color: rgb(128, 89, 163);
}

.second-column {
    flex: 2 0 auto;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-social-midia {
    margin: 1rem 0;
}


/* colocando os itens da div uma do lado da outra*/

.list-social-midia {
    display: flex;
    list-style: none;
}

.item-social-midia {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: black;
}

.link-social-midia:not(:first-child) {
    margin-left: 10px;
}

.forms {
    display: flex;
    /*direcionando a direcao do fluxo*/
    flex-direction: column;
    width: 55%;
}

.forms input {
    height: 45px;
    border: none;
    width: 100%;
    background-color: rgba(254, 254, 254, 0);
    text-align: center;
}

.label-input {
    background-color: rgb(239, 239, 239);
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    color: #000000;
    padding: 0 5px;
}

.second-content {
    position: absolute;
    /* display: none; */
    /*escondendo os elementos*/
}

.second-content .first-column {
    order: 2;
    z-index: -1;
}

.second-content .second.column {
    order: 1;
    z-index: -1;
}

.senha {
    color: rgb(148, 148, 156);
    font-size: 14px;
    margin: 15px 0;
    text-decoration: none;
}

.senha::first-letter {
    text-transform: capitalize;
}

.sing-in-js .first-content .first-column,
.sing-in-js .first-content .second-column {
    z-index: -1;
}

.sing-in-js .second-content .second-column {
    z-index: 11;
}

.sing-in-js .second-content .first-column {
    z-index: 12;
}

.sing-in-js .content::before {
    left: 60%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    animation: slidein 0.3s;
    z-index: 12;
}

.sing-up-js .content::before {
    animation: slideout 0.3s;
    z-index: 13;
}

.sing-up-js .second-content .first-column,
.sing-up-js .second-content .second-column {
    z-index: -1;
}

.sing-up-js .first-content .first-column,
.sing-up-js .first-content .second-column {
    z-index: 11;
}

.sing-up-js .first-content .first-column {
    z-index: 14;
    ;
}

.sing-in-js .first-content .second-column {
    z-index: -1;
    position: relative;
    animation: deslocamentoEsquerda .5s;
}

.sing-up-js .second-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoDireita .5s;
}


/*ANIMÇAO CSS*/

@keyframes deslocamentoEsquerda {
    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }
    25% {
        left: -80px;
        opacity: 0.5;
    }
    50% {
        left: -100px;
        opacity: 0.2;
    }
    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes deslocamentoDireita {
    from {
        left: 0;
        z-index: 12;
    }
    25% {
        left: -80px;
    }
    50% {
        left: 100px;
    }
    to {
        left: 110px;
        z-index: -1;
    }
}

@keyframes slidein {
    from {
        left: 0;
        width: 40%;
    }
    25% {
        left: 5%;
        width: 50%;
    }
    50% {
        left: 25%;
        width: 60%;
    }
    75% {
        left: 55%;
        width: 40%;
    }
    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {
    from {
        left: 60%;
        width: 40%;
    }
    25% {
        left: 55%;
        width: 50%;
    }
    50% {
        left: 25%;
        width: 60%;
    }
    75% {
        left: 5%;
        width: 40%;
    }
    to {
        left: 0;
        width: 40%;
    }
}